.navbar{
    background-color: #563d7c !important;
    color: white !important;
}

.navbar-brand{
    color: white !important;
}

.formClass{
    width: 100%;
}

.formFieldClass{
    width: 100%;
}
.fontColor{
    color: white;
}