<div>

  <div class="row" style="margin-top:15%">
    <div class="card border-dark col-6 ml-auto mr-auto">
      <mat-card class="m-1">

        <div>
          <h3>Digi-Contacts Management</h3>
        </div>
        <br>
        <div>
          <form class="formClass text-dark" autocomplete="off">
            <div>
              <mat-form-field class="formFieldClass">
                <input matInput placeholder="User Name" [formControl]="userName" name="userName" required>
                <mat-error *ngIf="userName.invalid">{{getErrorMessageForUserName()}}</mat-error>
              </mat-form-field>

              <mat-form-field class="formFieldClass">
                <input type="password" matInput placeholder="Password" [formControl]="password" name="password"
                  required>
                <mat-error *ngIf="password.invalid">{{getErrorMessageForPassword()}}</mat-error>
              </mat-form-field>
            </div>

            <div class="text-right">
              <button mat-raised-button color="primary" (click)="login()"
                [disabled]="!(userName.value && password.value)">Sign-In</button>
            </div>
          </form>
        </div>

      </mat-card>
    </div>
  </div>

</div>